<div class="col-md-1">
</div>
<div class="col-md-10">
<br>
<br>
<div id="content">

                <tabset class="nav-tabs-project">
                    <tab heading="A propos de ce site">

  </tab>
  </tabset>
  <p> Cet espace vise à présenter les liens économiques entre les acteurs utilisant les communs pour se développer et les communs. L'enjeu est double : A la fois afficher la contribution de l'acteur économique suite à l'usage du commun. Et permettre à ces derniers de devenir visibles afin d'être plus facilement référents lors de demandes de sollicitations pour travailler autour d'un commun
               
 
<br><br>
<p>Voici un exemple de prestation économique et de choix politiques réalistés autour de communs. Cela permet de voir ce que les activités économiques ou politiques apportents aux communs. <div collapse="isCollapsed"></div>
  <span ng-controller="CollapseCtrl">
    <a href="" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-info-sign" ></span><small>  En savoir plus ?</small></a>
    <div collapse="isCollapsed">
    <div class="well well-lg">
    Le budget du tableau ci dessous réflète l'usage de cette approche, en positionnant :<br><br>
  - Le financement du prestataire privé ou de l'administration publique . Pour chaque besoin spécifique du privé ou du public qui ne trouve pas de réponse dans des communs, ces derniers vont s'attribuer un budget afin soit d'améliorer les communs existants , soit adapter le commun pour les spécificités de la prestation ou de l'action publique. Vis à vis de ce budget, le prestataire privé ou l'institution publique indique ce qu'elle va reverser en nature au "commun".
  <br>
  - Une partie des financements directement auprès de « communs ». Un financement dédié à un commun va à sa communauté qui utilise alors son propre modèle de répartition financier. Par exemple, chez wikipedia, le financement va à l'équipe de salarié de l'association alors que chez Liberapay.com, le financement va au collectif qui le redistribue grâce à <a href="https://liberapay.com/Liberapay/income/" target=_blank>un outil de répartition de la somme collectée selon les contributions.</a><br>
  <br>En savoir plus sur <a href="https://fr.wikibooks.org/wiki/Construire_des_communs/Prestation" target=_blank>la page wiki "prestation" du Wikibooks "Construire des communs"</a>
    <br>  
    </div> 
    </div>
  </span></p>
  <br>
  <br>
    <div class="table table-striped">

    <span ng-controller="CollapseCtrl">
    <span ng-click="isCollapsed = !isCollapsed">
        <button type="button" class="btn btn-xs">
      <span ng-if="isCollapsed" class="glyphicon glyphicon-chevron-right"></span> <span ng-if="!isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
        </button><strong>Politique de développement de la culture de la Ville</strong>
<div collapse="isCollapsed">
    <div class="well well-lg">
    <p>Quel soutien aux "communs" dans les choix politiques de l'élu Martin Faubry de la ville de Lille, ayant signé la LUPC (Licence à Usage Politique des Communs) ?</p><br>
    <table class="table table-striped">
        <tbody><tr>
    <th style="font-weight: bold;">Enjeu</th>
    <th style="font-weight: bold;">Solution</th>
    <th style="font-weight: bold;">Coût de la mise en place de la solution globale</th>
    <th style="font-weight: bold;">Communs sur lesquels s'appuyer</th>
    <th style="font-weight: bold;">Contribution en nature de la ville à ces communs</th>
    <th style="font-weight: bold;">Contribution financière de la ville aux "communs"</th>
        </tr>
        <!-- group members -->
        <!-- ngRepeat: module in prestation.modules --><tr class="ng-scope" >
    
   
    <td><a class="ng-binding" href="">Développement de lieux culturels</a></td>
    <td class="ng-binding">Création de 3 salles de concerts </td>
    <td class="ng-binding">2 millions d'€</td>
    <td><!-- ngRepeat: projectprestation in module.project --><p class="ng-scope"><a class="ng-binding" href="/#/">- Salle de concert municipale</a></p>
<p class="ng-scope"><a class="ng-binding" href="/#/">- Salle de concert du "commun" Cultura</a></p>
<p class="ng-scope"><a class="ng-binding" href="/#/">- Salle de concert du "commun" Aprosia</a></p><!-- end ngRepeat: projectprestation in module.project --></td>
    <td class="ng-binding">Contribution à l'amélioration des deux salles de concerts pensées comme des communs "Aprosia" et "Cultura" </td>
    <td class="ng-binding">
Contribution financière à hauteur de 300 000€ à la salle de concert Aprosié et de 300 000 à la salle de concert Cultura. Le reste finance la nouvelle salle de concert municipale</td>
    </tr><!-- end ngRepeat: module in prestation.modules --><!-- end ngRepeat: module in prestation.modules --><!-- end ngRepeat: module in prestation.modules -->

      </tbody></table>
    <br>  
    </div> 
    </div>
  </span>
   
    </span></div><!-- end ngRepeat: prestation in prestations --><!-- end ngRepeat: prestation in prestations --><div class="table table-striped ng-scope">

    <span class="ng-scope" ng-controller="CollapseCtrl">
    <span ng-click="isCollapsed = !isCollapsed">
        <button type="button" class="btn btn-xs">
      <span ng-if="isCollapsed" class="glyphicon glyphicon-chevron-right"></span> <span ng-if="!isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
        </button><strong>Mission d'animation d'un hackathon sur les innovations dans les banques</strong>
<div collapse="isCollapsed">
    <div class="well well-lg">
    <br>
    <table class="table table-striped">
        <tbody><tr>
    <th style="font-weight: bold;">Module</th>
    <th style="font-weight: bold;">Prestataire</th>
    <th style="font-weight: bold;">Financement du prestataire</th>
    <th style="font-weight: bold;">Communs sur lesquels s'appuyer</th>
    <th style="font-weight: bold;">Contribution financiere du prestataire aux "communs"</th>
    <th style="font-weight: bold;">Contribution en nature du prestataire aux "communs"</th>
        </tr>
        <!-- group members -->
        <!-- ngRepeat: module in prestation.modules --><tr class="ng-scope" >
    
   
    <td><a class="ng-binding" href="">Organisation du hackathon</a></td>
    <td class="ng-binding">Bankinnov</td>
    <td class="ng-binding">4000 €</td>
          <td class="ng-binding"><td class="ng-binding"><p class="ng-scope"><a class="ng-binding" href="/#/">- Logiciel libre hackathon : Hackdash.org (90% com…</a></p>
<p class="ng-scope"><a class="ng-binding" href="/#/">- Réseau France "innover ensemble dans la finance"(70% commun) </a></p>
<p class="ng-scope"><a class="ng-binding" href="/#/">- Communauté Lille "Solutions partagées dans la finance" (60% commun)</a></p>
<p class="ng-scope"><a class="ng-binding" href="/#/">- Assemblée des communs Lille (90% commun) </a></p></td>
    <td class="ng-binding">500 € (répartition gérée via la chambre des communs Lille)</td>
    <td class="ng-binding">Les ressources produites durant l'événement sont libres et la méthode d'animation du hackathon est sur multibao</td>
          <!-- end ngRepeat: projectprestation in module.project -->

          </tr><!-- end ngRepeat: module in prestation.modules --><!-- end ngRepeat: module in prestation.modules -->

      </tbody></table>
    <br>  
    </div> 
    </div>
  </span>
   
    </div>


  </div>



  </div>

  </div>



